.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.header-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}
.header {
  width: 960px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  height: 90px;
  float: left;
}
.logo > a {
  display: block;
  height: 100%;
}
.logo > a img {
  height: 100%;
  vertical-align: top;
}
.header > nav {
  float: left;
  line-height: 90px;
  margin-left: 100px;
}
.header > nav > a {
  display: inlin-block;
  color: #fff;
  font-size: 14px;
}
.header > nav > a + a {
  margin-left: 15px;
}
